* {
   margin: 20;
   padding: 20;
   font-family: "Poppins", sans-serif;
}

.pura {
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}

.sirfye {
    color: aliceblue;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 100px;
    line-height: 20px;
}

.ars {
    position: fixed;
    color: blue;
    height: 300vh;
    width: 400px;
    background-color: rgba(224, 214, 16, 0.863);
    box-shadow: 0 0 6px rgba(21, 18, 18, 0.911);
}

.ars .logo {
    position: absolute;
    width: 100%;
    line-height: 10px;
    box-shadow: yellow
}

.ars .logo a {
    position: absolute;
    left:   10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}

.ars .ul {
    width: 100px;
    top: 20px;
}